*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-inter-font{
  font-family: "Inter", sans-serif;
}
 /* this is header-nav */
.first-navbar{
  width: 85%;
  max-width: 1341px;
  height: 92px;
  font-size: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
}

.logo-first img{
  height: 48px;
}

.firrt-menu{

  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}

.firrt-menu li a{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s;
}
 /* this is button  */
 .btn{
  background: #469165;
  color: #fff;
  cursor: pointer;
  padding: 12px 20px;
  gap: 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;}
  .btn:hover{
    background-color: blueviolet;
    color: rgb(240, 226, 226);
}
.upbutton{
  padding:8px 12px;
  color:#469165;
  border-radius: 25px;
  border:none;
  font-size: 16px;
  font-weight: 500;
  margin:16px;
  cursor: pointer;
}
.upbutton:hover{
  color: white;
  background-color: blueviolet;
}

  
 .btn-group .bghide-btn{
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 16px 12px 16px;
  color: #FFFFFF;
}
.btn-group .bghide-btn:hover{
  background-color: aqua;
}

/* this is hero-bg content */
#hero-bg{
height: 674px;
background-image: url("./assets/hero-bg.png");
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
 }
 .firrt-menu li a:hover{
  background-color: rgb(228, 231, 234);
 }
.hero-content{
  width: 1360px;
  height: 379px;
  text-align: center;
  padding-left: 295px;
  padding-right: 295px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.hero-text{
  max-width: 770px;
  font-size: 72px;
}
.hero-pera{
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 32px;
}
.btn-group{
  display: flex;
 align-items: center;
 justify-content: center;
 margin:auto;
 gap: 16px;
}
/* this is notes */
#notes{

}
.notes-container{
  width: 85%;
max-width: 1360px;
margin: 0 auto;
}
.notes-heading{
  max-width: 1360px;
  text-align: center;
  margin: 0 auto;
  padding-top: 36px;
  margin-bottom: 44px;
}
.notes-container h2 {
  margin-bottom: 16px;
}
.notes-box{

  display: flex;
  gap: 24px;
  
}
.notes-box .note-card{
  border-radius: 8px;
  flex-direction: column;
  text-align: center;
box-shadow: 0px 0px 8px 0px #0000001d;
background: rgba(255, 255, 255, 1);
  padding: 24px;
}
.img-color{
  background-color: #F95555;
  border-radius: 50%;
  padding: 13px;
  object-fit: cover;
}
.note-card img{
  margin-bottom: 16px;
}
.note-card h3{
  color:#001931;
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}
.note-card p{
  color:#627382;
  font-size: 13px;
  line-height: 20px;
}
  /* this is brainstracture */
#brainstracture{
  display: flex;
  gap: 24px;
  margin: 120px auto;
 width: 85%;
 max-width:1360px;
}
#brainstracture .brain-content{
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 120px;
  margin-right: 0;
}
.brain-contant h1{
    font-size: 48px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.brain-content p{
  margin-top:16px;
   margin-bottom: 16px;
   font-size: 16px;
}
#brainstracture ul{
  list-style: none;
}
#brainstracture ul li{
  color: #001931;
  margin-bottom: 16px;
  
}
  #brainstracture ul li i{
  color: #30B868;
}
 /* this is readyclearly */
#readyclearly{
  background-color:#F7F6F2;
  padding: 80px 40px 80px 40px;
  text-align: center;
  margin: 120px 120px;
}
#readyclearly h2{
  color: #001931;
  font-weight: 600;
  font-size: 40px;
}
#readyclearly p{
  margin-trim: 24px;
  margin-bottom: 16px;
  margin-top:16px ;

}
 /* this is footer */
footer{
    background-color: #001931;
    padding-bottom: 30px;
}
#footer-container{
  width: 85%;
  max-width:1360px;
  margin:auto;
  padding-top:100px;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 120;
  padding-bottom: 84px;
}
.footer-content .social-content{
   color: white;
  font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-content .social-content p{
  color: white;
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 16px;
   margin-right:35px;
}
.social-content .social-icon a i{
color: #FFFFFF;
margin-right: 16px;
}
.social-content .social-icon a i:hover{
   color: blueviolet;
}
#footer-container p {
  font-size: 16px;
    margin-top: 30px;
    text-align: center;
    color: #FAFAFA;
    
}

